# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Database connection URL
DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database>?sslmode=require"

# JWT Secret for signing tokens
JWT_SECRET="<your_jwt_secret>"

# Google OAuth credentials
GOOGLE_CLIENT_ID="<your_google_client_id>"
GOOGLE_CLIENT_SECRET="<your_google_client_secret>"

# GitHub OAuth credentials
GITHUB_ID="<your_github_id>"
GITHUB_SECRET="<your_github_secret>"

# NextAuth configuration
NEXTAUTH_URL="<your_nextauth_url>"
NEXTAUTH_SECRET="<your_nextauth_secret>"